{% extends "layout.html"%}
{% block content%}
<article class="media content-section">
    <div class="media-body">
    <div class="article-metadata">

    <h5>skakir.net</h5>
    <p class="article-content">
        Jæja enn ein skák vefsíðan gætu sumir hugsað. Ég hef verið innilokaður í sjálfskipaðri sóttkví og fannst tilvalið að búa til einfalda skáksíðu þar sem hægt er að skoða telfdar skákir. Hægt er fyrir hvern sem er að hlaða inn skákum. Til þess þarf að skrá sig, Þegar búið er að skrá sig er einnig hægt að blogga um stöður sem koma fyrir í skákunum. Einnig er hægt að setja upp stöður og blogga um þær. Hægt er að pastea fen strengi í edit boxið og setja upp stöðu. Ég hafði ekki hugsað mér að þetta yrði notað sem skákbanki. Heldur hafði ég hugsað þetta sem grunnur fyrir innanlands skákir sem telfdar eru hjá skákfélugum og umfjöllun um þær. Einnig er hægt að setja inn skákþrautir. Hægt er að blogga um skákir frá sjónarhorni svarts. Þá þarf að flippa stöðunni áður en bloggað er um stöðuna.
    </p>
</div>
</div>
</article>
{% endblock content%}
