{% extends "layout.html"%}
{% block content%}

<script type="text/javascript" src='/static/js/jquery-3.4.1.min.js'></script>
<script type="text/javascript" src='/static/js/chessboard-1.0.0.js'></script>
<script type="text/javascript" src='/static/js/json3.min.js'></script>
<script type="text/javascript" src='/static/js/chess.js'></script>
<p class="font-weight-bold font-italic"><span id="White"></span>(<span id="WhiteElo"></span>)&nbsp;-&nbsp;<span id="Black"></span>(<span id="BlackElo"></span>)&nbsp;&nbsp<span id="Result"></span></br>
<span id="Site"></span>&nbsp;&nbsp;<span id="Event"></span></p>
<div id="board" style="width: 400px"></div>
<div style"margin: 5px auto; width: 400px;>
    <button type="button" id="Byrjun" class="btn btn-outline-info mt-3">Byrjun</button>
    <button type="button" id="Naesti" class="btn btn-outline-info mt-3">Næsti</button>
    <button type="button" id="Fyrri" class="btn btn-outline-info mt-3">Fyrri</button>
    <button type="button" id="Endir" class="btn btn-outline-info mt-3">Endir</button>&nbsp;&nbsp
    <button type="button" id="Flippa" class="btn btn-outline-info mt-3">Flippa</button>
    <p class="mt-2"><span id="Pgn"></span></p>
</div>
<script>
    var init = function() {
        var config = {
            pieceTheme: '/static/img/chesspieces/wikipedia/{piece}.png',
            position: 'start'
            }

//var rawpgn="{{pgn_string}}";
var pgnjson = {{ pgnlist|tojson }};
var pgn = JSON.parse(pgnjson);
console.log(pgn);
//var pgn=rawpgn.split('\n');

var game = new Chess();

//game.load_pgn(pgn.join('\n'));
console.log(game.load_pgn(pgn.join('\n')));

//chess.move('e4')
console.log(game.header().White);
console.log(game.header().Black);
$('#White').html(game.header().White);
$('#Black').html(game.header().Black);
$('#WhiteElo').html(game.header().WhiteElo);
$('#BlackElo').html(game.header().BlackElo);
$('#Result').html(game.header().Result);
$('#Site').html(game.header().Site);
$('#Event').html(game.header().Event);
var board = new ChessBoard('board',config);
$('#Pgn').html(pgn.join('\n'));

var history = game.history();
game.reset();
var i = 0;

$('#Naesti').on('click', function(){
    console.log(i);
    game.move(history[i]);
    board.position(game.fen());
    i += 1;
    if(i > history.length){
        i = history.length;
    }
});

$('#Fyrri').on('click', function(){
    game.undo();
    board.position(game.fen());
    i -= 1;
    if(i < 0) {
        i = 0;
    }
});

$('#Byrjun').on('click', function(){
    game.reset();
    board.start();
    i = 0;
});

$('#Endir').on('click', function(){
    game.load_pgn(pgn.join('\n'));
    board.position(game.fen());
    i = history.length;
});

$('#Flippa').on('click', board.flip)

    }; // end init()
    $(document).ready(init);
    </script>
{% endblock content%}
